{% load static %}

  <aside class="left-sidebar scrollable ps-container ps-theme-default ps-active-y" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href={% url 'usuarios:index'%} aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href= {% url 'usuarios:reportarIncidente'%} aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Reportar Incidente</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href={% url 'usuarios:historial'%} aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Mi historial</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href={% url 'usuarios:incidentes'%} aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Incidentes Reportados</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href={% url 'usuarios:mapa'%} aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Visualización de Mapa</span></a></li>
                       <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href={% url 'usuarios:mapaPredictivo'%} aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Mapa Predictivo</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>