{% extends 'administrador/base.html' %}
{% load static %}

{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Mi historial</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url 'administrador:index' %}>Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Historial</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-md-12">
            <!-- card new -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Mi historial de Incidentes atendidos</h4>
                </div>
                  {% include 'administrador/incidentes_base.html' %}

                      <div class="row">


                    <ul class="pagination flex-center mx-auto text-center">
                        {% if page.has_previous %}
                        <li class="paginate_button page-item previous"><a
                                href="{% url 'usuarios:historial'%}?page={{page.previous_page_number}}"
                                aria-controls="zero_config" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled"><a href="" aria-controls="zero_config"
                                data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                        </li>
                        {% endif %}

                        {% if page.has_next %}
                        <li class="paginate_button page-item previous"><a
                                href="{% url 'usuarios:historial'%}?page={{page.next_page_number}}"
                                aria-controls="zero_config" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled"><a href="" aria-controls="zero_config"
                                data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <!-- column -->


</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
</div>

{% endblock content %}