{% extends 'administrador/base.html' %}
{% load static %}

{% block extra_script%}
  
<script src="{% static "js/utils/incidente.js" %}"></script>

{% endblock extra_script %}
{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Incidentes Recientes</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url 'administrador:index' %}>Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Incidentes Recientes</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->

    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atender Incidente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <input name="incidente_id" id="incidente_form" hidden>
                    <div class="form-group row">
                        <label for="fecha" class="col-sm-3 text-right control-label col-form-label">Fecha</label>
                        <div class="col-sm-9">
                            <input type="date" name="fecha" class="form-control" id="fecha" value={{fecha_hoy|date:'Y-m-d'}}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="hora" class="col-sm-3 text-right control-label col-form-label">Hora</label>
                        <div class="col-sm-9">
                            <input type="time" name="hora" class="form-control" id="hora" value="{{fecha_hoy|time:'H:i' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="observaciones"
                            class="col-sm-3 text-right control-label col-form-label">Observaciones</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="observaciones" name="obsevaciones" placeholder="Observaciones" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right">Reportar falsa Alarma</label>
                        <div class="col-sm-9">
                          <div class="form-check mr-sm-2">
                            <input type="checkbox" class="form-check-input" id="falsa_alarma" name="falsa_alarma">
                            <label class="form-check-label mb-0" for="falsa_alarma">Falsa Alarma</label>
                          </div>
                        </div>
                      </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right" for="file_imagen">Imagen</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input type="file"  accept="image/*" name="imagen" class="form-control-file" id="file_imagen">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="border-top">
                    <div class="card-body text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetearForm()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
     
      </div>
    </div>
  </div>
    <div class="row">
        <!-- column -->
        <div class="col-md-12">
            <!-- card new -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Incidentes mas recientes</h4>
                </div>
                  {% include 'administrador/incidentes_base.html' %}

                      <div class="row">


                    <ul class="pagination flex-center mx-auto text-center">
                        {% if page.has_previous %}
                        <li class="paginate_button page-item previous"><a
                                href="{% url 'administrador:incidentes-recientes'%}?page={{page.previous_page_number}}"
                                aria-controls="zero_config" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled"><a href="" aria-controls="zero_config"
                                data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                        </li>
                        {% endif %}

                        {% if page.has_next %}
                        <li class="paginate_button page-item previous"><a
                                href="{% url 'administrador:incidentes-recientes'%}?page={{page.next_page_number}}"
                                aria-controls="zero_config" data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="paginate_button page-item previous disabled"><a href="" aria-controls="zero_config"
                                data-dt-idx="0" tabindex="0" class="page-link">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <!-- column -->


</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
</div>

{% endblock content %}