  {% load static %}
  <ul class="list-style-none">

                    {% for incidente in page.object_list%}
                    <li class="d-flex no-block card-body border-top">
                        <div class="my-auto p-2">
                        {% if  incidente.imagen_video %}
                         <img src={{incidente.imagen_video}} alt="user" width="50">
                        {% else %}
                        <img src="{% static 'images/users/1.jpg' %}" alt="user" width="50"
                                class="rounded-circle">
                        {% endif %}
                        
                                
                                
                                
                                
                                </div>
                        <div class="comment-text w-100">
                            <h5 class="font-medium">{{incidente.tipo_incidente|title}}</h5>
                            <h6 class="font-medium">{{incidente.titulo | title}}</h6>
                            <span class="d-block">{{incidente.descripcion}}</span>
                            <div class="comment-footer mt-1">
                                <small class="text-muted d-block">Dirección: {{incidente.direccion}}</small>
                                <small class="text-muted"> {{incidente.fecha|date:'d-M-Y'}} {{incidente.hora}}</small>
                            </div>
                          
                        </div>
                        <div class="my-auto mx-4" style="min-width:80px">
                            <div class="text-right">
                              
                                <button type="button" class="btn btn-sm text-white  btn
                                mt-3
                                btn-info
                                d-block
                                waves-effect waves-light" data-toggle="modal" data-target="#exampleModal" onclick="setIncidenteModal({{incidente.id}})">
                                    Atender Incidente
                                  </button>
                            </div>
                        </div>
                    </li>

                    {% empty %}
                    <li class="d-flex no-block card-body border-top"> No hay incidentes recientes</li>
                    {% endfor %}
                </ul>
            